root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{diff,md}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[.gitmodules]
indent_style = tab

[{Dockerfile,Dockerfile.*,*.dockerfile}]
indent_style = space
indent_size = 2

[{/bin/*,/tools/*,**/*.{bats,bash,sh}}]

################################################################################
# Below are shfmt options.                                                     #
# See https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#examples   #
################################################################################
# --language-variant
shell_variant      = auto
binary_next_line   = false
# --case-indent
switch_case_indent = true
space_redirects    = false
keep_padding       = false
# --func-next-line
function_next_line = false

[{Makefile,*.mk}]
indent_style = tab
