[submodule "tests/fixture/assert"]
	path = tests/fixture/assert
	url = https://github.com/jasonkarns/bats-assert-1.git
	shallow = true
[submodule "tests/fixture/support"]
	path = tests/fixture/support
	url = https://github.com/jasonkarns/bats-support.git
	shallow = true
[submodule "tests/fixture/bats"]
	path = tests/fixture/bats
	url = https://github.com/bats-core/bats-core.git
