language: bash

git:
  depth: 1
  submodules: false

if: |
  tag =~ ^v OR \
  branch = "test"

services:
  - docker

os:
  - linux
  - osx

env:
  - BASHVER=4.0
  - BASHVER=4.1
  - BASHVER=4.2
  - BASHVER=4.3
  - BASHVER=4.4
  - BASHVER=5.0

cache:
  directories:
    - $TRAVIS_BUILD_DIR/build-bash

install:
  - |
    # Default Travis CI use Bash 4.3 in Linux, and 3.2 in MacOS.
    # Out script use shopt -s inherit_errexit but only Bash 4.4+ supported.
    if [[ -x $TRAVIS_BUILD_DIR/build-bash/${BASHVER}/bin/bash ]]; then
      echo "Use cache: build-bash"
    else
      echo "No cache, to install and build Bash ${BASHVER}"
      ./tools/install-bash ${BASHVER} 2>&1 >> build.log || cat build.log
    fi

  - |
    if [[ "$TRAVIS_OS_NAME" == 'osx' ]]; then
      git submodule update --init --depth 1
    fi

  - |
    if [[ "$TRAVIS_OS_NAME" == 'linux' ]]; then
      docker pull lobash/test-bash:${BASHVER}
    fi

script:
  - export PATH="$TRAVIS_BUILD_DIR/build-bash/$BASHVER/bin:$PATH"
  - printf "%s\n%s\n" "The Bash used for test:" "$(bash --version)"
  - |
    if [[ "$TRAVIS_OS_NAME" == 'linux' ]]; then
      echo "Start to test in Bash docker"
      BUILD_DIST=true time bash ./tools/test-in-docker
    else
      if [[ $BASHVER == 4.0 ]]; then
        echo "Skip to test Bash 4.0 in MacOS."
        return
      fi

      echo "To build ./dist/lobash.bash"
      bash ./build
      echo "Start to test in MacOS Bash"
      time bash ./test -d
    fi

notifications:
  email:
    on_success: never
